.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* shared style */
.btn-primary {
    background-color:#4E47FF ;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.text-color {
    color: #4E47FF;

}

.text-primary {
     color: #474747;
}
/* header section */

header{
    background-image: url(../Assets/Hero-bg.png);
}

/* navbar section */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 130px ;
    padding-top: 16px;
}

.banner {
    max-width: 1130px;
    margin: 150px auto;
    padding-bottom: 200px;
}

.banner-title {
    text-align: center;
}

.banner-btn {
    justify-content: center;
    margin-left: 500px;
}
/* main */
main {
    max-width: 1140px;
    margin: 150px auto;
}

/* Action section */
.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    color: #252432;
    font-weight: bold;
}

.action img {
    height: 250px;
    width: 300px;
    border-radius: 20px;
}

/* productive section */

.productive-users {
    background-color: #E5E7FF;
    border-radius: 10px;
    padding: 48px 72px;
    margin-top: 84px;
}

.title-productive {
    text-align: center;

}

.productive-users-amount  {
    display: flex;
    justify-content: space-between;
    justify-items: ;
    padding: 0px 150px;
}

.data-productive {
    font-size: 80px;
    font-weight: bold;
     color: #4E47FF;
     margin: 0px 0px;
}